<!DOCTYPE html>
<html layout:decorate="~{layout}">
<head>
	<meta charset="UTF-8">
	<title>Home - Catálogo de Filmes</title>
</head>
<body class="text-center bg-light">
	<section role="main" class="container" layout:fragment="corpo">
      <h1 class="mt-5">CatáFilme</h1>
      <p class="lead">Conheça o catálogo com os melhores filmes disponiveis atualmente.</p>
      <p class="lead">
      	<a href="/filme" class="btn btn-lg btn-outline-dark">Acessar Filmes</a>
      </p>
    </section>
</body>
</html>